* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: cursive;
    background-color: white;
}

.calendar {
    height: max-content;
    width: max-content;
    background-color: wheat;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transform: scale(1.25);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: palevioletred;
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div:nth-child(7),
.calendar-week-day div:nth-child(1) {
    color: red;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #79788c;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: black;
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: green;
    color: whitesmoke;
    border-radius: 50%;
}

.calendar-days div.event,
.calendar-days div.event:hover {
    background-color: lightcoral;
    color: black;
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: gray;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: gray;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list>div {
    display: grid;
    place-items: center;
    background-color: grey;
}

.month-list>div>div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: wheat;
}

.month-list>div>div:hover {
    background-color: grey;
}

.calendar-days div:hover:not(.curr-date) {
    background-color: #262626;
    color: white;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.calendar-day-hover:nth-child(7),
.calendar-day-hover:nth-child(14),
.calendar-day-hover:nth-child(21),
.calendar-day-hover:nth-child(28) {
    color: red;
}

.calendar-day-hover:nth-child(8),
.calendar-day-hover:nth-child(15),
.calendar-day-hover:nth-child(22),
.calendar-day-hover:nth-child(29) {
    color: red;
}

.event {
    /* position: absolute; */
    background-color: palevioletred;
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
